.name{
	text-align: center;
}
ul {

	width: 100%;
	list-style: none;
	text-align: left;
}
nav li{
	margin: 0px;
	padding-top: 50px;
	padding-left: 110px;
	width: 140px;
	height: 60px;
	display: inline-block;
}
a{
	color: red;
}
