body{
	background-color: black;
}
h1{
	margin-left: 35%;
}
h3{
	margin-left: 45%;
}
.parcours{
	border: 3px solid white;
}
.formation{
	border: 3px solid white;
}
.passion{
	border: 3px solid white;
}
.name{
	color: white;
}
.menu{
	display: flex;
	text-align: center;
	font-weight: bold;
	list-style: none;
	border: 5px solid white;
	height: 120px;
}
a{
	color: red;
}
