{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue sur ce site de recettes </h1>


<p>Donne à la marmite, elle te donnera. 
Proverbe libyen </p>
<p>Il ne faut pas en savoir long pour manger, mais beaucoup pour être bon cuisinier. "
Proverbe turc </p>
<p>
Citation de Pierre Dac ; Parmi les fromages, le plus discret est le brie qui coule sans en faire le moindre.</p>

{% endblock %}